<a id="dashBoardMenu" class="menu-dashboard show-for-large">MENU</a>
<div id="dashBoardOptions" class="menu-dashboard-style">
    <h2 id="dashboard-menutitle-style">MENU</h2>
    <div ng-click="yosAppVar.goAboutAdmin()" class="dashboard-option-style">
        <p>PORTFOLIO</p>
    </div>
    <div ng-click="yosAppVar.goFeaturesAdmin()" class="dashboard-option-style">
        <p>FEATURED</p>
    </div>
    <div ng-click="yosAppVar.goBlogAdmin()" class="dashboard-option-style">
        <p>BLOG</p>
    </div>
    <div ng-click="yosAppVar.logout()" class="dashboard-option-style">
        <p>LOGOUT</p>
    </div>
    <div id="closeDashBoardMenu" class="dashboard-close-style">
        <i class="fa fa-2x fa-times" aria-hidden="true"></i>
    </div>
</div>