<footer class="page-footer">
    <div class="row text-center">
        <div class="small-12 medium-6 large-4 column">
            <h4>MENU</h4>
            <p>Home</p>
            <p>About</p>
            <p>Portfolio</p>
            <p>Blog</p>
            <p>Contact</p>
        </div>
        <div class="large-4 show-for-large column">
            <h4>CONTACT</h4>
            <p>TEL: (+1)XXX-XXX-XXX</p>
            <p>FAX: (+1)XXX-XXX-XXX</p>
        </div>
        <div class="small-12 medium-6 large-4 column social-icons">
            <h4>SOCIAL</h4>
            <div><img src="img/social/google-plus.svg"  alt="Google + social icon" /></div>
            <div><img src="img/social/twitter.svg"  alt="Twitter social icon" /></div>
            <div><img src="img/social/linkedin.svg"  alt="Linkedin social icon" /></div>
        </div>
    </div>
     <div class="row">
        <div class="small-12 medium-12 large-12 column text-center copyright">
            © Ahmed Hindawy Website 2017 - Website VanArts
        </div>
    </div>
</footer>


