<footer class="page-footer">
    <div class="row text-center">
        <div class="small-12 medium-6 large-4 column">
            <h4>MENU</h4>
            <p>Home</p>
            <p>About</p>
            <p>Portfolio</p>
            <p>Blog</p>
            <p>Contact</p>
        </div>
        <div class="large-4 show-for-large column">
            <h4>CONTACT</h4>
            <p>TEL: (+1)XXX-XXX-XXX</p>
            <p>FAX: (+1)XXX-XXX-XXX</p>
        </div>
        <div class="small-12 medium-6 large-4 column social-icons">
            <h4>SOCIAL</h4>
            <div><img src="img/social/google-plus.svg"  alt="Google + social icon" /></div>
            <div><img src="img/social/twitter.svg"  alt="Twitter social icon" /></div>
            <div><img src="img/social/linkedin.svg"  alt="Linkedin social icon" /></div>
        </div>
    </div>
     <div class="row">
        <div class="small-12 medium-12 large-12 column text-center copyright">
            © Ahmed Hindawy Website 2017 - Website VanArts
        </div>
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-100359046-1', 'auto');
        ga('send', 'pageview');

    </script>
</footer>


