<footer class="page-footer">
    <div class="row text-center">
        <div class="small-12 medium-6 large-4 column">
            <h4>About</h4>
        </div>
        <div class="large-4 show-for-large column">
            <h4>Contact</h4>
        </div>
        <div class="small-12 medium-6 large-4 column">
            <h4>Social</h4>
        </div>
    </div>
     <div class="row">
        <div class="small-12 medium-12 large-12 column text-center copyright">
            © Ahmed Hindawy Website 2017 - Website VanArts
        </div>
    </div>
</footer>


