<header class="page-header">
    <nav class="menu-main">
        <div class="logo-style">
            <img src="apple-touch-icon.png" alt="site logo" ng-click="yosAppVar.changePage('intro')">
        </div>
        <div id="mobileMenu" class="mobile-menu hide-for-large">
            <i class="fa fa-2x fa-bars" aria-hidden="true"></i>
        </div>
        <div id="mobileMenuBox" class="row mobile-menu-box">
            <ul class="small-12 column menu-style">
                <li class="menu-option" ng-click="yosAppVar.changePage('home')">Home</li>
                <li class="menu-option" ng-click="yosAppVar.changePage('about')">About</li>
                <li class="menu-option" ng-click="yosAppVar.changePage('portfolio')">Portfolio</li>
                <li class="menu-option" ng-click="yosAppVar.changePage('blog')">Blog</li>
                <li class="menu-option" ng-click="yosAppVar.changePage('contact')">Contact</li>
            </ul>
            <div id="mobileMenuClose" class="row mobile-menu-close hide-for-large">
                <i class="fa fa-2x fa-times" aria-hidden="true"></i>
            </div>
        </div>
    </nav>
</header>
