// -----------------------------------------------------------------------------
// Welcome Page
// -----------------------------------------------------------------------------

.about-style{
    height:100vh;
    @include respond-to(tabmob) {
        background-image: url("../img/about/about-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-background {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.about-content-bg{
    background-color: #242424;
}

.about-content-bg-skill{
    padding: 250px 0 !important;
    background: linear-gradient(#242424,rgba(0, 0, 0, 0.8), #242424);
}

.about-skill-bar{
    transition: all 1.3s linear;
    width: 0;
    background-color:#006666;
    @include respond-to(mobile) {
        height: 30px;
    }
    @include respond-to(tablet) {
        height: 55px;
    }
    @include respond-to(desktop) {
        height: 70px;
    }
}

.animate-bar-skill{
    width: 100%;
}

.about-skill-info{
    margin: 10px;
}

.icon-skill-about{
    padding: 10px;
    @include respond-to(tabmob) {
        padding: 0;
    }
}

.about-work-content-style{
    padding: 30px;
    background-color: #006666;
    color: white;
}

.about-bgcontent{
    padding: 60px 0;
    // background-color: rgba(0,0,0,0.7);
    background-color: #242424;
    color: white;
    // margin: 50px 0;
    h1{
        color: #242424;
    }
}

.content-whatido-style{
    @include respond-to(desktop) {
        padding: 50px;
    }
}

.content-whatcenter-style{
    padding: 100px 0;
    position: relative;
    width: 100%;
    color: white;
    background: linear-gradient(#242424,rgba(0, 0, 0, 0.8), #242424);
    @include respond-to(tabmob) {
        background-color: #dddddd;
        color: white;
        height: auto;
    }
    margin: auto;
}

.video-image-about{
    text-align: center;
    width: 70%;
    margin: auto;
}


.video-background-overlay{
    border:10px solid #006666;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
}
.about-title-content{
    color: white !important;
    margin-bottom: 40px;
}

.skill-box{
    margin-bottom: 80px;
}


// -----------------------------------------------------------------------------
// END Welcome Page
// -----------------------------------------------------------------------------
