// -----------------------------------------------------------------------------
// Welcome Page
// -----------------------------------------------------------------------------

.about-style{
    height:100vh;
    background-image: url("../img/about/about-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-skill-bar{
    transition: all 1s ease;
    width: 0;
    background-color:#006666;
    @include respond-to(mobile) {
        height: 30px;
    }
    @include respond-to(tablet) {
        height: 55px;
    }
    @include respond-to(desktop) {
        height: 70px;
    }
}

.about-skill-info{
    margin: 10px;
}

.icon-skill-about{
    padding: 10px;
    @include respond-to(tabmob) {
        padding: 0;
    }
}

// -----------------------------------------------------------------------------
// END Welcome Page
// -----------------------------------------------------------------------------
