// -----------------------------------------------------------------------------
// Welcome Page
// -----------------------------------------------------------------------------

.admin-about-style{
    padding: 20px;
    background-color: #242424;
    h1{
        color: white;
        width: 100%;
        text-align: center;
    }
    .about-admin-content{
        position: relative;
        margin: 1% auto;
        background-color: white;
        padding: 40px;
        h2,h3,h4,h5,h6,p,div{
            text-align: left;
            color: #242424;;
        }
    }
    input[type=text]{
        color: #242424;
        padding: 8px 10px;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #242424;
        border-left: 2px solid #242424;
        &:active{
            background-color: transparent;
        }
    }
    
}

#cke_abouteditor{
    height: 100% !important;
}
.cke_inner{
    height: 100% !important;
}

.cke_inner{
    height: 100% !important;
}

#cke_1_contents{
    height: 100% !important;
}

.about-form-ckediotor{
    flex-grow: 100;
    height: 100%;
    overflow: auto;
}

// .cke_1_top

.about-form-style{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#cke_1_bottom{
    display: none !important;
}

.cke_top{
    padding: 0 !important;
    width: 100% !important;
    position: fixed !important;
    top: 0px !important;
}

.form-top-bar-about,.form-about-buttons{
    text-align: center;
    flex-grow: 1;
    width: 100%;
    height: 40px;
    background-color: #242424;
}

.form-close-btn-about{
    position: absolute;
    top: -40px;
    right: 0;
    i{
        color: white;
    }
}

.skill-box-admin{
    position: relative;
    margin: 50px auto;
    background-color: white;
    padding-left: 20px;
    h1{
        color: #242424;
    }
    p{
        margin: 0;
    }
}

.skil-max-bar{
    padding-right: 25px;
}

.skill-form-style{
    padding: 10px;
    a{
        background-color: #242424;
        color: white;
        padding: 5px 10px;
        cursor: pointer;
        margin: 0 10px;
    }
    .skill-btn-submit{
        padding: 20px;
    }
}

.about-skill-bar-admin{
    // width: 0;
    background-color:#006666;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        color: white;
    }
    @include respond-to(mobile) {
        height: 30px;
    }
    @include respond-to(tablet) {
        height: 55px;
    }
    @include respond-to(desktop) {
        height: 70px;
    }
}

// -----------------------------------------------------------------------------
// END Welcome Page
// -----------------------------------------------------------------------------