// -----------------------------------------------------------------------------
// Welcome Page
// -----------------------------------------------------------------------------

.admin-blog-style{
    padding: 20px;
    background-color:#242424;
    h2 {
        text-align: center;
        margin: 0;
    }

    h1{
        color: white;
        width: 100%;
        text-align: center;
    }
    input[type=text]{
        margin: 0 10px;
        color: #242424;
        padding: 8px 10px;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #242424;
        border-left: 2px solid #242424;
        &:active{
            background-color: transparent;
        }
    }
    
}

.blog-content-admin{
    color: white;
    // overflow:hidden; 
    // white-space:nowrap; 
    // text-overflow: ellipsis;
}

.blog-list-style{
    position: relative;
    // padding:10px;
    border:2px solid white;
    margin: 1% 0;
    h4{
        text-align: center;
        color: white;
        // margin: 0;
        padding:0;
    }
    p{
        color:white;
    }
}

.blog-list-content{
    color:white;
    text-align: left;
    margin: 0;
    padding:0;
}

.option-list{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.option-list-style{
    z-index: 1;
    text-align: center;
    // background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    i{
        padding: 10px;
        width: 100%;
        color: #242424;
        transition:all 0.4s ease;
        &:hover{
            transform: scale(1.2);
        }
    }
}

.option-list-style-blog{
    text-align: center;
    background-color: white;
    display: flex;
    i{
        padding: 10px;
        width: 100%;
        color: #242424;
        transition:all 0.4s ease;
        &:hover{
            transform: scale(1.2);
        }
    }
}

.modalbox-style{
    width: 80%;
    height: 80%;
    a{
        float: left;
        background-color: #242424;
        color: white;
        padding: 5px 10px;
        margin: 10px;
        // margin-left: 10px;
        cursor: pointer;
    }
    textarea{
        height: 100%;
    }
}

.blog-menu-option{
    position: fixed;
    top: 50%;
    left: 0;
    background-color: #242424;
}

.option-icon{
    background-color: #242424;
    color: white;
    padding: 5px;
}

.blog-form-style{
    height: 100%;
    .cke_contents{
        height: 88%;
    }
}

.form-blog-tab{
    @include respond-to(desktop) {
        position: absolute;
        top: -30px;
    }
}

.modalbox-show{
    display: initial;
}

#cke_blogeditor{
    height: 100%;
}

.form-close-btn-blog{
    width: 100%;
    position: absolute;
    top: -38px;
    right: 0;
    i{
        float: right;
        color: white;
    }
}

.category-form-style{
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond-to(tabmob) {
        flex-direction: column;
    }
    input{
        width: auto !important;
    }

}

.category-row{
    @include respond-to(desktop) {
        width: 50%;
        margin: auto;
    }
    input[type='checkbox']{
        margin-right:20px;
    }
}


// -----------------------------------------------------------------------------
// END Welcome Page
// -----------------------------------------------------------------------------