// -----------------------------------------------------------------------------
// Welcome Page
// -----------------------------------------------------------------------------

.admin-blog-style{
    padding: 20px;
    background-color:#242424;
    height:100vh;
    h2 {
        text-align: center;
        margin: 0;
    }

    h1{
        color: white;
        width: 100%;
        text-align: center;
    }
    overflow: auto;
}

.blog-content-admin{
    color: white;
    // overflow:hidden; 
    // white-space:nowrap; 
    // text-overflow: ellipsis;
}

.blog-list-style{
    position: relative;
    padding:10px;
    border:2px solid white;
    margin: 1% 0;
    h4{
        text-align: center;
        color: white;
        margin: 0;
        padding:0;
    }
    p{
        color:white;
    }
}

.blog-list-content{
    color:white;
    text-align: left;
    margin: 0;
    padding:0;
}

.option-list{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.option-list-style{
    text-align: center;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    i{
        padding: 10px;
        width: 100%;
        color: #242424;
        transition:all 0.4s ease;
        &:hover{
            transform: scale(1.2);
        }
    }
}

.modalbox-style{
    width: 80%;
    height: 80%;
    a{
        background-color: #242424;
        color: white;
        padding: 5px 10px;
        margin: 10px 5px 0px 0px;
        cursor: pointer;
    }
    textarea{
        height: 100%;
    }
}

.blog-menu-option{
    position: fixed;
    top: 50%;
    left: 0;
    background-color: #242424;
}

.option-icon{
    background-color: #242424;
    color: white;
    padding: 5px;
}



// -----------------------------------------------------------------------------
// END Welcome Page
// -----------------------------------------------------------------------------