// -----------------------------------------------------------------------------
// Welcome Page
// -----------------------------------------------------------------------------

.admin-features-style{

    background-color:#242424;
    height:100vh;
    h2 {
        text-align: center;
        margin: 0;
        color: $white-color;
    }

    h1{
        color: white;
        width: 100%;
        text-align: center;
    }
}





// -----------------------------------------------------------------------------
// END Welcome Page
// -----------------------------------------------------------------------------