// -----------------------------------------------------------------------------
// Welcome Page
// -----------------------------------------------------------------------------

.blog-style{
    height:50vh;
    background-image: url("../img/bg-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}



// -----------------------------------------------------------------------------
// END Welcome Page
// -----------------------------------------------------------------------------
