// -----------------------------------------------------------------------------
// Welcome Page
// -----------------------------------------------------------------------------

.blog-style{
    height:50vh;
    background-image: url("../img/bg-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-list-short{
    padding: 100px 0;
    background-color: #242424;
    h1,p{
        color:white;
    }
}

.blog-style-each{
    overflow: hidden;
    margin-bottom: 100px;
    height: 31.25rem;
    background-color: white;
}

.blog-short-image{
    height: 100%;
    img{
        height: 100%;
        object-fit: cover;
    }
}

.blog-short-content{
    padding: 50px;
    background-color: white;
    p,h1{
        color:#242424;
    }
    p{
        font-size: 1rem;
    }
}

.read-more-btn{
    background-color: #242424;
    color: white;
    padding: 5px;
}


// -----------------------------------------------------------------------------
// END Welcome Page
// -----------------------------------------------------------------------------
