// -----------------------------------------------------------------------------
// Blog Page
// -----------------------------------------------------------------------------

.blogdetail-style{
    position: relative;
    z-index: -1;
    height:75vh;
    background-image: url("../img/bg-image2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.white-box-blog-detail{
    width:350px;
    height: 20vh;
    padding-bottom: 100px;
    background-color: #dddddd;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    h1{
        align-self: flex-end;
    }
}

.overlay-gradient-blogdetail{
    width: 100%;
    height: 75vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #242424);
    pointer-events: none;
}

.blog-detail-content{
    padding: 50px;
    background-color: white;
    p,h1{
        color: #242424;
    }
    .category-style{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
    }
    .each-category{
        width: auto !important;
        margin: 3px;
        padding: 5px 7px;
        border: 2px solid #242424 !important;
        a{color: #242424 !important;}
    }
}

.blog-list-detail{
    position: relative;
    margin-top: -35vh;
}

.back-blog-page{
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    i{
        margin-right: 30px;
        transition: all 0.5s ease;
    }
    &:hover{
        i{
            transform: scale(1.2);
        }
    }
}
.option-blog-detail{
    margin: 50px auto;
    color: white;
}

.previous-blog{
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    float: left;
    i{
        margin-right: 30px;
        transition: all 0.5s ease;
    }
    &:hover{
        i{
            transform: scale(1.2);
        }
    }
}

.next-blog{
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    float: right;
    i{
        margin-left: 30px;
        transition: all 0.5s ease;
    }
    &:hover{
        i{
            transform: scale(1.2);
        }
    }
}

// -----------------------------------------------------------------------------
// END Blog Page
// -----------------------------------------------------------------------------
