// -----------------------------------------------------------------------------
// Blog Page
// -----------------------------------------------------------------------------

.blog-style{
    height:50vh;
    background-image: url("../img/blog-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        color: white;
        position: absolute;
    }
}

.blog-list-short{
    padding: 100px 0;
    background-color: #242424;
    h1,p{
        color:white;
    }
}

.blog-style-each{
    overflow: hidden;
    margin-bottom: 100px;
    @include respond-to(destab) {
        height: 31.25rem;
    }
    background-color: white;
}

.blog-short-image{
    height: 100%;
    img{
         @include respond-to(destab) {
            height: 100%;
        }
        object-fit: cover;
    }
}

.blog-short-content{
    padding: 50px;
    background-color: white;
    height: 100%;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    h1{
        width: 100%;
        text-align: center;
        color:#242424;
    }
    p{
        color:#242424;
        font-size: 1rem;
    }
    div{
        text-align: center;
        width: 100%;
    }
}

.read-more-btn{
    background-color: #242424;
    color: white;
    padding: 5px;
    cursor: pointer;
}


// -----------------------------------------------------------------------------
// END Blog Page
// -----------------------------------------------------------------------------
