// -----------------------------------------------------------------------------
// Contact Page
// -----------------------------------------------------------------------------

.contact-style{
    height:75vh;
    background-image: url("../img/contact-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        color: #242424;
        position: absolute;
    }
}

.contact-style-content{
    overflow: hidden;
    padding: 50px 0;
    background-color: #242424;
    input[type=text]{
        color: #242424;
        padding: 8px 10px;
        width: 100%;
        margin: 30px 0;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #242424;
        border-left: 2px solid #242424;
        &:active{
            background-color: transparent;
        }
    }
    textarea{
        color: #242424;
        padding: 8px 10px;
        width: 100%;
        margin: 30px 0;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #242424;
        border-left: 2px solid #242424;
        height: 200px;
        &:active{
            background-color: transparent;
        }
    }
}

.overlay-contactdetail{
    width: 100%;
    height: 75vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #242424);
    pointer-events: none;
}

.contact-form{
    opacity: 0;
    transition: all 0.7s ease;
    transform: translateX(-50%);
    background-color: white;
    padding: 50px;
    p{
        color: #242424;
    }
}

.contact-info-pg{
    opacity: 0;
    transition: all 0.7s ease;
    transform: translateX(50%);
}

.contact-info{
    background-color: #006666;
    padding: 20px;
    color: white;
    margin-bottom: 45px;
    img{
        width: 20%;
    }
}

.home-welcome{
    text-align: center;
    color: white;
    h1{
        margin:0;
    }
}

.relative-panel-home{
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: -1;
}

.contact-submit{
    padding: 10px 20px;
    background-color: #006666;
    color: white;
    cursor: pointer;
    transition: all 0.6s ease;
    border: 3px solid transparent;
    &:hover{
        box-shadow: inset 0 0 0 50px white;
        color: #006666;
        border: 3px solid #006666;
    }
}




// -----------------------------------------------------------------------------
// END Contact Page
// -----------------------------------------------------------------------------
