// -----------------------------------------------------------------------------
// Welcome Page
// -----------------------------------------------------------------------------

.welcome-style{
    height:100vh;
    background-image: url("../img/bg-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-box-top{
    width:350px;
    height: 65vh;
    padding-bottom: 100px;
    background-color: white;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    h1{
        align-self: flex-end;
    }
}

.home-header{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    img{
        height: 60vh;
    }
}

.overlay-homedetail{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #242424);
    pointer-events: none;
}

.home-welcome{
    text-align: center;
    color: white;
    h1{
        margin:0;
    }
}

.logoAniHome {
    @include respond-to(desktop) {
        width: 200px;
        height: 200px;
        padding: 20px;
    }
    @include respond-to(tabmob) {
        width: 100px;
        height: 100px;
        padding: 10px;
    }
    transition: all 0.5s ease;
    
    path {
        fill: white;
        stroke: white;
    }
}

.relative-panel-home{
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: -1;
}

.about-home-content{
    padding: 50px;
    background-color: #dddddd;
    .home-about-style{
        position: relative;
        background-color: white;
        padding: 40px;
    }
}

.about-home-bgcontent{
    padding: 50px;
    background-color: #242424;
    color: white;
}

.home-box-position{
    padding: 50px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.home-box-design{
    background-color: #006666;
    width: 100%;
    height: 100%;
    // position: absolute;
    left: 0;
    top: 0;
}

.skill-space{
    float: left;
    width: 20%;
}



// -----------------------------------------------------------------------------
// END Welcome Page
// -----------------------------------------------------------------------------
