// -----------------------------------------------------------------------------
// Welcome Page
// -----------------------------------------------------------------------------

.welcome-style{
    height:100vh;
    background-image: url("../img/bg-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-welcome{
    text-align: center;
    color: white;
    h1{
        margin:0;
    }
}


// -----------------------------------------------------------------------------
// END Welcome Page
// -----------------------------------------------------------------------------