// -----------------------------------------------------------------------------
// Welcome Page
// -----------------------------------------------------------------------------

.welcome-style{
    height:100vh;
    background-image: url("../img/bg-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-box-top{
    width:350px;
    height: 65vh;
    padding-bottom: 100px;
    background-color: #dddddd;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    h1{
        align-self: flex-end;
    }
}

.home-header{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    img{
        @include respond-to(desktop) {
            height: 60vh;
        }
    }
}

.overlay-homedetail{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #242424);
    pointer-events: none;
}

.home-welcome{
    text-align: center;
    color: white;
    h1{
        margin:0;
    }
}

.logoAniHome {
    @include respond-to(desktop) {
        width: 200px;
        height: 200px;
        padding: 20px;
    }
    @include respond-to(tabmob) {
        width: 100px;
        height: 100px;
        padding: 10px;
    }
    transition: all 0.5s ease;
    
    path {
        fill: white;
        stroke: white;
    }
}

.relative-panel-home{
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: -1;
}

.about-home-content{
    overflow: hidden;
    @include respond-to(desktop) {
         padding: 80px 0;
    }
    @include respond-to(tabmob) {
         padding: 40px 0;
    }
    // background-color: #dddddd;
    .home-about-style{
        position: relative;
        background-color: white;
        padding: 30px;
        @include respond-to(desktop) {
            padding: 40px;
        }
    }
}

.set-color-blog-color{
    color: white;
}

.work-small-box{
    position: relative;
    overflow: hidden;
}

.about-home-bgcontent{
    padding: 50px 0;
    background-color: #242424;
    color: white;
    h2{
        color: #242424;
    }
}

.home-box-position{
    padding: 150px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.home-box-design{
    background-color: #006666;
    width: 100%;
    height: 100%;
    // position: absolute;
    left: 0;
    top: 0;
}

.skill-space{
    float: left;
    width: 20%;
    @include respond-to(mobile) {
        padding: 5px;
    }
}

.skill-home-row{
    overflow: hidden;
    padding: 150px 0;
    h2{
        color: white;
    }
}

.work-first-bg{
    margin-top: 50px;
    background-image: url('../img/home/desert.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    @include respond-to(desktop) {
        max-height: 70%;
    }
}

.work-second-bg{
    background-image: url('../img/home/galaxy.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    @include respond-to(desktop) {
        max-height: 70%;
    }
    img{
        float: right;
    }
}

.work-home-style{
    position: relative;
    padding: 20px;
    img{
        width: 100%;
        @include respond-to(desktop) {
            width: 70%;
        }
    }
}

.list-home-works{
    position: relative;
    background-color: #242424;
    // background-color: #006666;
    img{
        object-fit: cover;
        height: 25vw;
        @include respond-to(tablet) {
            width: 100%;
            height: 50vw;
        }
        max-height: 31.25rem;
        @include respond-to(mobile) {
            width: 100%;
            height: 100vw;
        }
    }
}

.work-home-style-content{
    padding: 30px 50px;
    @include respond-to(desktop) {
        position: absolute;
        right: 0;
        top: 50%;
        transform:translateY(-50%);
        padding: 30px 100px;
    }
    background-color: white;
    color: #242424;
}

.work-home-style-leftcontent{
    padding: 30px 50px;
    @include respond-to(desktop) {
        position: absolute;
        left: 0;
        top: 50%;
        padding: 30px 100px;
        transform:translateY(-50%);
    }
    background-color: white;
    color: #242424;
}

.white-box-work{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #006666;
    height: 30%;
    width: 85%;
}

.home-portfolio-btn{
    border-radius: 50%;
    padding: 60px 10px;
    background-color: #006666;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    cursor: pointer;
    transition: all 0.6s ease;
    border: 5px solid #003333;
    &:hover{
        border: 5px solid #006666;
        box-shadow: inset 0 0 0 90px white;
        color: #242424;
    }
}

.home-portfolio-button{
    margin: 100px 0 70px 0;
}

.home-blog-btn{
    padding: 10px 20px;
    background-color: #006666;
    color: white;
    cursor: pointer;
    transition: all 0.6s ease;
    border: 3px solid transparent;
    &:hover{
        box-shadow: inset 0 0 0 50px white;
        color: #006666;
        border: 3px solid #006666;
    }
}

.move-to-right-work{
    transition: all 2.5s ease;
    transform: translateX(-100%);
}

.move-to-left-work{
    transition: all 2.5s ease;
    transform: translateX(100%);
}

.move-activate-work{
    transform: translateX(0);
}

.work-bg-change{
    background-color: #006666;
    height: 25vw;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}


// -----------------------------------------------------------------------------
// END Welcome Page
// -----------------------------------------------------------------------------

