// -----------------------------------------------------------------------------
// Login Page
// -----------------------------------------------------------------------------


.login-style{
    height:100vh;
    background-color:#242424;
    // background-image: url("../img/bg-image4.jpg");
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .login-form{
        color: $white-color;
        position: absolute;
        top: 50%;
        background-color:#242424;
        border:5px solid white;
        box-shadow: 10px 10px 5px 5px #151515;
        text-align: center;
        @include respond-to(destab) {
            padding: 30px 60px;
            width:500px;
            left:50%;
            transform: translate(-50%,-50%);
        }
        @include respond-to(mobile) {
            padding: 10px 30px;
            width:100%;
            transform: translateY(-50%);
        }
    }

    input[type=text],
    input[type=password]{
        width: 100%;
        padding: 10px 18px;
        margin:10px 0;
    }
    
    input[type=submit]{
        padding: 10px 18px;
    }
}

.login-home{
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 5px;
}


// -----------------------------------------------------------------------------
// END Login Page
// -----------------------------------------------------------------------------