// -----------------------------------------------------------------------------
// Portfolio Page
// -----------------------------------------------------------------------------



.portfolio-style{
    // height:75vh;
    background-image: url("../img/portfolio-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        color: #242424;
        position: absolute;
    }
    .detail-portfolio{
        position: absolute;
        left: 10px;
        bottom: 50px;
        p{
            color: white;
        }
    }
    .header-portfolio{
        position: relative;
        height: 100%;
    }
    
}

.portfolio-style-content{
    padding: 50px 0;
    background-color: #242424;
    overflow: hidden;
}

.port-design{
    // position: relative;
    cursor: pointer;
    @include respond-to(mobile) {
        height: 100vw;
    }
    @include respond-to(tablet) {
        height: 50vw;
    }
    @include respond-to(desktop) {
        height: 333.33px;
    }
    padding: 3px;
    img{
        object-fit: cover;
        height: 100%;
    }
}

.portfolio-flex{
    display: flex;
    flex-wrap: wrap;
}

.port-animate{
    height: 100%;
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(50%);
}

.work-detail-desc{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 5px;
}

.modalbox-style-potfolio{
    overflow: auto;
    i{
        margin: 0 10px;
        color: white;
    }
}

.small-img-portfolio{
    display: flex;
    flex-direction: column;
    img{
        margin-bottom: 15px;
    }
}

.embed-style{
    margin: auto;
    width: 80vw;
    height: 70vh;
}

.image-portfolio-section{
    overflow: auto;
    padding: 30px;
    img{
        width:100%;
    }
}

.embed-portfolio-section{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-portfolio{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    a{
        padding: 10px 15px;
        border:3px solid white;
        color: white;
        margin: 10px;
    }
}

.option-portfolio-content{
    padding: 20px;
    color: white;
    @include respond-to(desktop) {
        height: 100vh;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #006666;
}

// -----------------------------------------------------------------------------
// END Portfolio Page
// -----------------------------------------------------------------------------
