
.body-index{
    background-color: #242424;
}

.overlay-gradient{
    position: absolute;
    width: 100%;
    height:75vh;
    overflow: auto;
    background: -webkit-linear-gradient(rgba(0,0,0,0.5),#242424); 
    background: -o-linear-gradient(rgba(0,0,0,0.5), #242424); 
    background: -moz-linear-gradient(rgba(0,0,0,0.5), #242424); 
    background: linear-gradient(rgba(0,0,0,0.5), #242424); 
    pointer-events: none;
    top: 0;
}

.modalbox-bg{
    overflow: auto;
    z-index: 999;
    background-color: rgba(0,0,0,8);
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    top: 0;
    left: 0;
}

.modalbox-style{
    // overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    // padding: 20px;
    h2{
        color: #242424;
    }
    @include respond-to(desktop) {
        width: 900px;
    }
    input[type=text]{
        width: 100%;
        padding: 5px 10px
    }
}

h1,p{
    word-break: break-all;
}

.form-submit-style{
    margin: 0;
    border:none;
    background-color: #242424;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.form-blog-buttons{
    padding: 5px 0;
    background-color:#242424;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#openOverlay{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #242424;
    width: 100%;
    height: 0vh;
    overflow: hidden;
    transition: all 1s ease;
}

.change-page{
    height: 100vh !important;
}

.set-non-visible{
    display: none;
}

.animate-faderight{
    transform: translate(50%,0);
    opacity: 0;
    transition: all 2s ease;
}

.animate-fadeleft{
    transform: translate(-50%,0);
    opacity: 0;
    transition: all 2s ease;
}

.active-show{
    opacity: 1 !important;
    transform: translateY(0) !important;
}


.pagination-list{
    margin: 0 10px;
    a{
        cursor: pointer;
    }
    .pagina-active{
        padding: 3px 13px;
        // border-radius: 50%;
        background-color: white;
        color: #242424;
    }
}

.pagination-right{
    text-align: right;
}