// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------

.page-footer{
    background-color: $general-bg;
    h1,h2,h3,p,div{
        color: $white-color;
    }
    .copyright{
        padding: 50px 0;
    }
}

// -----------------------------------------------------------------------------
// END Footer
// -----------------------------------------------------------------------------