// -----------------------------------------------------------------------------
// Header
// -----------------------------------------------------------------------------


.menu-main{
    background-color:#242400;
}

.menu-top-show{
    @include respond-to(desktop) {
        transform: translateY(0) !important;
    }
}

.mobile-menu-box{
    // background-color:rgba(100,100,100,0.5);
    @include respond-to(tabmob) {
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        
    }
    .menu-style {
        margin: 0;
        list-style: none;
        text-align: center;
        @include respond-to(tabmob) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        li {
            padding: 20px 0;
            cursor: pointer;
            @include respond-to(desktop) {
                color: white;
                float:left;
                width:20%;
            }
            @include respond-to(tabmob) {
                padding: 10px 0;
            }
            &:hover a{
                border: 3px solid white;
                box-shadow: inset 0 0 0 25px white;
                color: #242424;
            }
        }
        a{
            transition: all 0.7s ease;
            border: 3px solid transparent;
            padding: 5px 20px;
        }
    }
    .mobile-menu-close{
        color: $icon-color;
        position: absolute;
        bottom:0;
        width: 100%;
        margin: 0;
        padding:10px 0;
        text-align: center;
        cursor: pointer;
    }
}

.desktop-menu-btn{
    width:350px;
    text-align: center;
    position: absolute;
    right: 0px;
    z-index: 200;
    padding-top: 30px;
    a{
        transition: all 0.7s ease;
        padding: 10px 20px;
        border: 2px solid #242424;
        color: #242424;
        cursor: pointer;
        &:hover{
            border: 2px solid #242424;
            box-shadow: inset 0 0 0 25px #242424;
            color: white;
        }
    }
}

.menu-active-main{
    border: 3px solid white;
    box-shadow: inset 0 0 0 25px white;
    color: #242424;
}

.mobile-menu{
    float: right;
    padding: 10px 20px;
    cursor: pointer;
    color: $icon-color;
}

.menu-main {
    transition: all 0.5s ease;
    @include respond-to(desktop) {
        transform: translateY(-100%);
    }
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 99;
}

.logo-style{
    position: absolute;
    cursor: pointer;
    svg {
        width: 55px;
        padding: 11px;
        fill: white;
        @include respond-to(desktop) {
            width: 59px;
            padding: 11px;
            fill: white;
        }
    }
    @include respond-to(desktop) {
        float: left;
    }
}

.menu-show-detail{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 999;
    background-color: #242424;
    transition: all 0.8s ease;
    overflow: hidden;
    // display: none;
}

.menu-show-detail.active-menu-index{
    height: 100vh;
}

.menu-show-list-style{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    li{
        padding: 5px 12px;
        margin: 10px;
        cursor: pointer;
    }
    a{
        padding: 5px 12px;
    }
}

.menu-contact-list{
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
}

// -----------------------------------------------------------------------------
// END Header
// -----------------------------------------------------------------------------