// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: 'ring font';
    src: url('../fonts/ringm___-webfont.woff2') format('woff2'),
         url('../fonts/ringm___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}