<ng-include src="'partials/header.html'"></ng-include>

<div class='about-style'>
	<div class="home-welcome">
		
	</div>
	<div class="overlay-homedetail">
		<div class="row set-relative">
			<div class="white-box-top show-for-large">
				<h1 class="text-center">ABOUT ME</h1>
			</div>
		</div>
	</div>
</div>
<div class="about-home-content">
	<div class="row set-relative">
		<div class="home-box-position">
			<div class="home-box-design"></div>
		</div>
		<div class="small-12 medium-12 large-4 column">
			
		</div>
		<div class="small-12 medium-12 large-8 column">
			<div class="home-about-style" ng-bind-html="about.content">
			</div>
		</div>
	</div>
</div>
<div class="about-bgcontent">
	<div class="row text-center">
		<h1 class="about-title-content">WHAT I DO?</h1>
	</div>
	<div class="row about-work-content-style">
		<div class="small-12 medium-12 large-12 column content-whatido-style">
			<h2 class="text-center">GAME ART DESIGN</h2>
			<div class="small-12 medium-3 large-3 column">
				<img src="img/about/art.png" alt="" />
			</div>
			<div class="small-12 medium-9 large-9 column">
				<p>
					Creating the art assets for a game is surely one of the most important 
					and time-consuming stages of the game production process. Blending industry
					 competency and artistic excellence, I deliver game art to our clients 
					 as a part of full-cycle development or as separately to the project 
					 in progress.
				</p>
			</div>
		</div>
	</div>
	<div class="content-whatcenter-style clearfix">
		<video class="video-background show-for-large" autoplay loop muted>
			<source src = "video/about-video.mp4" type = "video/mp4">
			Your browser does not support the video tag.
		</video>
		<div class="video-background-overlay">
			
		</div>
		<div class="small-12 medium-12 large-12 column content-whatido-style">
			<h2 class="text-center">3D MODELING</h2>
			<div class="video-image-about">
				<img src="img/about/art.png" alt="" />
			</div>
			<div class="small-12 medium-12 large-12 column">
				<p>
					Creating the art assets for a game is surely one of the most important 
					and time-consuming stages of the game production process. Blending industry
					 competency and artistic excellence, we deliver game art to our clients 
					 as a part of full-cycle development or as separately to the project 
					 in progress. Our team embellishes your game with high-quality graphics 
					 and well-modeled 3D elements to attract and keep the audience in the gaming world.
				</p>
			</div>
		</div>
	</div>
	<div class="row about-work-content-style">
		<div class="small-12 medium-12 large-12 column content-whatido-style">
			<h2 class="text-center">UNREAL ENGINE</h2>
			<div class="small-12 medium-9 large-9 column">
				<p>
					Unreal Engine 4 is the industry leader for high-end gaming solutions. Whereas Unity 
					is the ideal method for flexible and cost-effective solutions, Unreal is perfect 
					for developing an AAA title — highly-promoted games with high-production costs that boast
					 truly elite graphics and gameplay. Unreal supports a wide variety of platforms, 
					 including Windows, OS X, iOS, Android, Xbox One, Playstation 4, and HTML5.
				</p>
			</div>
			<div class="small-12 medium-3 large-3 column">
				<img src="img/about/warrior.png" alt="" />
			</div>
		</div>
	</div>
</div>
<div class="about-home-content">
	<div class="row skill-box">
		<div class="small-12 medium-12 large-12 column">
			<div class="home-about-style" id="section1">
				<h1 class="text-center">MY SKILLS</h1>
				<div class="row about-skill-info" ng-repeat="x in skill">
					<div class="small-1 medium-1 large-1 icon-skill-about column">
						<img ng-src="{{x.skill_icon}}" />
					</div>
					<div class="small-11 medium-11 large-11 column">
						<div class="remove-padding"  ng-style="{'width':(x.skill_level+'%')}">
							<div class="about-skill-bar" ng-class="{'animate-bar-skill':yosAppVar.animationState['section1']}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="text-center">
		<a ng-click="" class="home-blog-btn">DOWNLOAD RESUME</a>
	</div>
</div>
