<ng-include src="'partials/header.html'"></ng-include>
<div class='blog-style'>
	<div class="home-welcome">
		
	</div>
	<div class="overlay-blog">
		<div class="row set-relative">
			<div class="white-box-top show-for-large">
				<h1 class="text-center">MY BLOG</h1>
			</div>
		</div>
	</div>
</div>
<div class="blog-list-short">
	
	
	 <div class="row filter-blog">
		 <div class="pagination-right text-center" ng-show="filteredItems > 0">
			<span class="pagination-list" ng-repeat="i in updatePagination()">
				<a ng-click="setPage(i)" ng-bind="i" ng-class="{'pagina-active':i==currentPage}"></a>
			</span>
		</div>
        <!--<div class="large-2">Page Size:
            <select ng-model="entryLimit" ng-change="setPage(1)" class="">
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
            </select>
        </div>-->
	</div>
	<div  class="row" ng-repeat="x in filtered = (blog | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit)">
		<div ng-if="$even" id='blog{{$index}}' class="blog-style-each blog-animate-left" ng-class="{'active-show':yosAppVar.scroll>yosAppVar.getoffsetTop('blog{{$index}}')}">
			<div class="blog-short-image remove-padding small-12 medium-6 large-6 column text-center">
				<img ng-src="{{x.blog_img}}" />
			</div>
			<div class="remove-margin small-12 medium-6 large-6 column blog-short-content">
				<h1 class="text-center" ng-bind="x.blog_title"></h1>
				<div class="block-with-text" ng-bind-html="x.blog_content"></div>
				<div class="text-center">
					<a ng-click="selectBlog(x.blog_index)" class="read-more-btn">READ MORE</a>
				</div>
			</div>
		</div>
		<div ng-if="$odd" id='blog{{$index}}' class="blog-style-each blog-animate-right" ng-class="{'active-show':yosAppVar.scroll>yosAppVar.getoffsetTop('blog{{$index}}')}">
			<div class="blog-short-image remove-padding small-12 medium-6 large-6 column text-center">
				<img ng-src="{{x.blog_img}}" />
			</div>
			<div class="remove-margin small-12 medium-6 large-6 column blog-short-content">
				<h1 class="text-center" ng-bind="x.blog_title"></h1>
				<div class="block-with-text" ng-bind-html="x.blog_content"></div>
				<div class="text-center">
					<a ng-click="selectBlog(x.blog_index)" class="read-more-btn">READ MORE</a>
				</div>
			</div>
		</div>
	</div>
	<div class="pagination text-center" ng-show="filteredItems > 0">
		<span class="pagination-list" ng-repeat="i in updatePagination()">
			<a ng-click="setPage(i)" ng-bind="i" ng-class="{'pagina-active':i==currentPage}"></a>
		</span>
	</div>
</div>

<!--<ng-include src="'partials/footer.html'"></ng-include>-->