<ng-include src="'partials/header.html'"></ng-include>
<div class="overlay-gradient">
	
</div>
<div class='blog-style'>
	<h1>Blog List</h1>
</div>
<div class="blog-list-short">
	<div class="pagination-style">

	</div>
	 <div class="row">
        <div class="large-2">PageSize:
            <select ng-model="entryLimit" ng-change="setPage(1)" class="">
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
            </select>
        </div>
	</div>
	<div class="row blog-style-each" ng-repeat="x in filtered = (blog | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit)">
		<div class="blog-short-image remove-padding small-12 medium-6 large-6 column text-center">
			<img ng-src="{{x.blog_img}}" />
		</div>
		<div class="remove-margin small-12 medium-6 large-6 column blog-short-content">
			<h1 class="text-center" ng-bind="x.blog_title"></h1>
			<div class="block-with-text" ng-bind-html="x.blog_content"></div>
			<div class="text-center">
				<a ng-click="selectBlog(x.blog_index)" class="read-more-btn">READ MORE</a>
			</div>
		</div>
	</div>
	<div class="pagination text-center" ng-show="filteredItems > 0">
		<ul>
			<li ng-repeat="i in updatePagination()">
				<a ng-click="setPage(i)" ng-bind="i"></a>
			</li>
		</ul>
	</div>
</div>

<!--<ng-include src="'partials/footer.html'"></ng-include>-->