<div class="welcome-style">
	<div class="home-welcome">
		
	</div>
	<div class="overlay-homedetail">
		<div class="row set-relative" id="section1">
			<div class="white-box-top show-for-large">
				<h1 class="text-center">WELCOME</h1>
			</div>
		</div>
		<div class="row home-header">
			<img src="img/home/warriorflip.png" class="animate-fadeleft" ng-class="{'active-show':yosAppVar.animationState['section1']}" alt="my best design" />
		</div>
	</div>
</div>
<div class="about-home-content">
	<div class="row set-relative" id="section2">
		<div class="home-box-position">
			<div class="home-box-design"></div>
		</div>
		<div class="small-12 medium-12 large-7 column">
			<div class="home-about-style animate-fadeleft" ng-class="{'active-show':yosAppVar.animationState['section2']}">
				<h2>Hi I'm Ahmed Hindawy</h2>
				<p>I'm a very passionate person who loves design and learning new skills. 
					Always looking, listening, thinking and studying towards my love of art, culture, entertainment, games and design.
				</p>
				<div class="text-center">
					<a ng-click="yosAppVar.changePage('about')" class="home-blog-btn">SEE MORE!</a>
				</div>
			</div>
		</div>
		<div class="small-12 medium-12 large-5 column text-center">
			<img src="img/home/squall.png" class="animate-faderight" ng-class="{'active-show':yosAppVar.animationState['section2']}"  alt="my best design" />
		</div>
	</div>
	<div class="row skill-home-row">
		<div class="small-12 medium-12 large-12 column text-center">
			<h2>MY SKILLS</h2>
		</div>
		<div class="small-12 medium-12 large-12 column text-center remove-padding">
			<div class="small-12 medium-12 large-12 column text-center remove-padding">
				<div class="skill-space column">
					<img src="img/home/maya.png" alt="maya icon">
				</div>
				<div class="skill-space column">
					<img src="img/home/unreal.png" alt="unreal engine icon">
				</div>
				<div class="skill-space column">
					<img src="img/home/photo.png" alt="photo icon">
				</div>
				<div class="skill-space column">
					<img src="img/home/illust.png" alt="illustrator icon">
				</div>
				<div class="skill-space column">
					<img src="img/home/python.png" alt="python icon">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="about-home-bgcontent">
	<div class="row text-center">
		<h2>MY WORKS</h2>
	</div>
	<div class="work-first-bg clearfix">
		<div class="small-12 medium-12 large-12 column work-home-style">
			<div class="small-12 medium-12 large-12 column remove-padding">
				<img src="img/home/body.png" />
			</div>
			<div class="small-12 medium-12 large-12 column remove-padding">
				<div class="work-home-style-content">
					<h2 class="text-center">My work 1</h2>
					<p>Description</p>
				</div>
			</div>
		</div>
	</div>
	<div class="cleaxfix set-relative">
		<div class="white-box-work"></div>
		<div ng-click="yosAppVar.changePage('portfolio')" class="home-portfolio-btn">SEE MY WORKS</div>
		<div class="row list-home-works clearfix">
			<div class="small-12 medium-12 large-12 column remove-padding">
				<div class="small-12 medium-6 large-6 column remove-padding">
					<img src="img/home/work1.jpg" />
				</div>
				<div class="small-12 medium-6 large-6 column remove-padding">
					<img src="img/home/work2.jpg" />
				</div>
			</div>
			<div class="small-12 medium-12 large-12 column remove-padding show-for-medium">
				<div class="small-12 medium-6 large-6 column remove-padding">
					<img src="img/home/work3.jpg" />
				</div>
				<div class="small-12 medium-6 large-6 column remove-padding">
					<img src="img/home/work4.jpg" />
				</div>
			</div>
		</div>
	</div>
	<div class="work-second-bg clearfix">
		<div class="small-12 medium-12 large-12 column work-home-style">
			<div class="small-12 medium-12 large-12 column remove-padding">
				<img src="img/home/ship.png" />
			</div>
			<div class="small-12 medium-12 large-12 column">
				<div class="work-home-style-leftcontent remove-padding">
					<h2 class="text-center">My work 2</h2>
					<p>Description</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="about-home-content">
	<div class="row skill-home-row">
		<div class="small-12 medium-12 large-12 column text-center">
			<h2>MY BLOG</h2>
		</div>
		<div class="small-12 medium-12 large-12 column text-center remove-padding">
			<div class="row blog-style-each" ng-repeat="x in blog" ng-show="$first">
				<div class="blog-short-image remove-padding small-12 medium-6 large-6 column text-center">
					<img ng-src="{{x.blog_img}}" />
				</div>
				<div class="remove-margin small-12 medium-6 large-6 column blog-short-content">
					<h1 class="text-center" ng-bind="x.blog_title"></h1>
					<div class="block-with-text" ng-bind-html="x.blog_content"></div>
					<div class="text-center">
						<a ng-click="selectBlog(x.blog_index)" class="read-more-btn">READ MORE</a>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center">
			<a ng-click="yosAppVar.changePage('blog')" class="home-blog-btn">READ MORE MY BLOGS</a>
		</div>
	</div>
</div>