
<!--<div class="overlay-gradient">
	
</div>-->
<!--<div class='portfolio-style'>
	<h1>MY WORKS</h1>
</div>-->
<div class='portfolio-style'>
	<div class="home-welcome">
		
	</div>
	<div class="overlay-homedetail">
		<div class="row header-portfolio">
			<div class="white-box-top show-for-large">
				<h1 class="text-center">PORTFOLIO</h1>
			</div>
			<div class="detail-portfolio">
				<p><i class="fa fa-clone" aria-hidden="true"></i> - MULTIPLE IMAGES</p>
				<p><i class="fa fa-cube" aria-hidden="true"></i> -  EMBED</p>
			</div>
		</div>
	</div>
</div>
<div class="portfolio-style-content">
	<div class="row portfolio-flex">
		<div class="small-12 medium-6 large-4 column port-design" ng-repeat="x in portfolio">
			<div ng-click="openDetailPortfolio(x)" id='image{{$index}}' class="port-animate set-relative" ng-class="{'active-show':yosAppVar.scroll>yosAppVar.getoffsetTop('image{{$index}}')}">
				<img ng-src="{{x.portfolio_image}}" alt="" />
				<div ng-show="x.moreOption" class="work-detail-desc">
					<i ng-show="x.embedShow" class="fa fa-cube" aria-hidden="true"></i>
					<i ng-show="x.multiShow" class="fa fa-clone" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="modalBox" class="modalbox-bg" ng-class="{'modalbox-show':detailModalBox}">
	<div class="modalbox-style-potfolio">
		<div class="option-portfolio">
			<a ng-click="changeShowMode(0)">IMAGE</a>
			<a ng-show="embedCode!=''" ng-click="changeShowMode(1)">EMBED</a>
			<i ng-click="changeShowMode(2)" class="fa fa-2x fa-times" aria-hidden="true"></i>
		</div>
		<div ng-show="showMode==0" class="image-portfolio-section">
			<div class="small-12 medium-12 large-2 column small-img-portfolio">
				<div ng-repeat="port in imageListPostfolio">
					<img ng-click="selectedImagePort(port)" ng-src="{{port}}" alt="{{port}}">
				</div>
			</div>
			<div class="large-10 column show-for-large">
				<img ng-src="{{imgSelected}}" alt="{{imgSelected}}">
			</div>
		</div>
		<div ng-show="showMode==1" class="embed-portfolio-section text-center">
			<iframe class="embed-style" width="640px" height="360px" src="{{embedCode}}" 
			frameborder="0" allowfullscreen mozallowfullscreen="true" 
			webkitallowfullscreen="true" onmousewheel="" scrolling="no"> </iframe>
		</div>
	</div>
</div>

<!--<ng-include src="'partials/footer.html'"></ng-include>-->