<div class='admin-about-style'>
	<h1>ADMIN ABOUT PAGE</h1>

	<div class="row about-admin-content">
		<div ng-bind-html="about.content">
		</div>
		<div class="option-list-style">
			<i class="fa fa-2x fa-pencil-square" ng-click="showAboutForm()" aria-hidden="true"></i>
		</div>
	</div>
	<div class="row skill-box-admin">
		<div class="small-12 medium-12 large-12 column">
			<div class="home-about-style" id="section1">
				<h1 class="text-center">MY SKILLS</h1>
				<div class="row about-skill-info" ng-repeat="x in skill">
					<div class="small-1 medium-1 large-1 icon-skill-about column">
						<img ng-src="{{x.skill_icon}}" />
					</div>
					<div class="small-11 medium-11 large-11 column">
						<div class="remove-padding"  ng-style="{'width':(x.skill_level+'%')}">
							<div class="about-skill-bar-admin">
								<p ng-bind="x.skill_level"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="modalBox" class="modalbox-bg" ng-class="{'modalbox-show':aboutForm}">
		<div class="modalbox-style">
			<form class="about-form-style" ng-submit="submit()">
				<div class="form-close-btn-about"><i ng-click="showAboutForm()" class="fa fa-2x fa-times" aria-hidden="true"></i></div>
				<div class="form-top-bar-about"></div>
				<div class="about-form-ckediotor remove-padding">
					<textarea name="abouteditor"></textarea>
				</div>
				<div class="form-about-buttons">
					<input class="form-submit-style" type="submit" value="EDIT!">
				</div>
			</form>
		</div>
	</div>

	<div id="modalBoxMsg" class="modalbox-bg">
	</div>

	<script>
		var aboutEd = CKEDITOR.replace( 'abouteditor',{
		resize_enabled: 'false',
		removePlugins: 'elementspath',
		height : '100%',
		toolbar: [
				['Bold', 'Italic', '-', 'NumberedList','BulletedList', '-', 'Link', 'Unlink' ]
			]
		});
		
	</script>
	
</div>	